@media screen and (max-width:900px) {

	#head {
		width: 90%;
		padding-top: 120px;
	}

	/*메인섹션*/
	
	#main_howtobox {
		padding: 0 20px
	}

	
	.howto_text {
		font-size: 15px;
	}

	#main_infobox {
		padding: 20px
	}

	.info_textbox {
		width: 55%;
		line-height: 30px;
		font-size: 16px
	}

}


@media screen and (max-width:500px) {

	#head {
		padding-top: 110px;
	}

	#titlemap {
		font-size: 11px;
		letter-spacing: 2px;
	}

	#mainTitle {
		font-size: 18px;
	}

	#sectioncontain {
		width: 90%;
		margin: auto
	}

	/*메인섹션*/

	#main_howtobox {
		padding: 0 10px
	}

	
	.howto_text {
		font-size: 14px;
		line-height: 28px
	}

	#main_infobox {
		padding: 0
	}

	.info_imgbox{width: 100%;}
	.info_textbox {
		width: 100%;
		line-height: 28px;
		font-size: 16px;
		margin-top: 20px
	}

}